.top

{ padding: 2% 200; 
background:top repeat-x #f0fF00; 
border-bottom: solid 1px #001C32; 
font-size:30pt; 
color:#FF0066; 
font-weight:bold; 
} 

h1 
{ color: maroon; 
margin-left: 40px; 
} 

ol li,p 
{ color: black;
 margin-left: 60px; 
font-size:15pt; 
} 

.left 
{
padding: 5 5 5 5; width:200px; 
position:relative; left:3;
background-color:#220F21; 
display: block; float: left;
 height:400px;
} 

.right 
{ 
padding: 5 5 5 5; 
width:70%; position:relative; 
left:3pt; 
background-color:#FFFFFF; 
display: block; float: left; 
}

.bottom
{ 
padding: 1% 100; 
background:top repeat-x #f0fF00; 
border-bottom: solid 1px #001C32; 
font-size:15pt; color:#FF0066; 
font-weight:bold; text-align:center; 
} 

#nav 
{ 
font-family: verdana; 
font-weight: bold; 
font-size: 12pt; 
text-align:center; position:relative; 
left:0px; 
} 

#myspan 
{
font-family: verdana;
font-weight: bold; 
font-size: 12pt; 
text-align:center; 
position:relative; 
left:0px; 
} 

#nav ul 
{ 
margin: 0; 
padding: 0; 
list-style: none; 
} 

#nav a:link 
{ 
color: #FFFFFF; 
text-decoration: none; 
} 

#nav a:activate
{ text-decoration: none; 
background:yellow 
} 

#nav a:visited 
{ color: #FFFFFF; 
text-decoration: none; 
} 

#nav a 
{ 
display: block; 
padding: 6px 8px; 
} 

#nav li 
{ 
float: down; 
background-color:#FF0066; 
margin-bottom:3px; 
position: relative;
width: 200px;
}

#nav li:hover 
{ 
background-color:#1e6468;
}